<!-- begin::Header -->
<div class="card-header border-0">
  <h3 class="card-title fw-bolder text-gray-900">Holiday List (2024)</h3>
  <div class="card-toolbar">
    <!-- begin::Menu -->
    
    <app-dropdown-menu1></app-dropdown-menu1>
    <!-- end::Menu -->
  </div>
</div>
<!-- end::Header -->
<!-- begin::Body -->
<div class="card-body autoscroll pt-2">
  <!-- begin::Item -->
  <div class="d-flex align-items-center mb-8">
    <div class="text-gray-600 text-hover-primary min-width fw-bold fs-6 me-4">
      26th jan
    </div>
    <!-- begin::Bullet -->
    <span class="bullet bullet-vertical h-40px bg-success"></span>
    <!-- end::Bullet -->
    <!-- begin::Description -->
    <div class="flex-grow-1 ms-6">
      <a href="#" class="text-gray-800 text-hover-primary fw-bolder fs-6">
        Republic Day
      </a>
      <span class="text-muted fw-bold d-block">Coming in 2 Days</span>
    </div>
    <!-- end::Description -->
    <a href="" class="btn btn-sm btn-icon btn-light-primary w-30px h-30px">
      <span class="ki-duotone ki-black-right-line"><span class="path1"></span><span class="path2"></span></span>
    </a>
  </div>
  <!-- end:Item -->
  <!-- begin::Item -->
  <div class="d-flex align-items-center mb-8">
    <div class="text-gray-600 text-hover-primary min-width fw-bold fs-6 me-4">
25th mar
    </div>
    <!-- begin::Bullet -->
    <span class="bullet bullet-vertical h-40px bg-primary"></span>
    <!-- end::Bullet -->
    <!-- begin::Description -->
    <div class="flex-grow-1 ms-6">
      <a href="#" class="text-gray-800 text-hover-primary fw-bolder fs-6">
        Holi
      </a>
      <span class="text-muted fw-bold d-block">Due in 16 Days</span>
    </div>
    <!-- end::Description -->
    <a href="" class="btn btn-sm btn-icon btn-light-primary w-30px h-30px">
      <span class="ki-duotone ki-black-right-line"><span class="path1"></span><span class="path2"></span></span>
    </a>
  </div>
  <!-- end:Item -->
  <!-- begin::Item -->
  <div class="d-flex align-items-center mb-8">
    <div class="text-gray-600 text-hover-primary min-width fw-bold fs-6 me-4">
      15th aug
    </div>
    <!-- begin::Bullet -->
    <span class="bullet bullet-vertical h-40px bg-warning"></span>
    <!-- end::Bullet -->
    <!-- begin::Description -->
    <div class="flex-grow-1 ms-6">
      <a href="#" class="text-gray-800  text-hover-primary fw-bolder fs-6">
        Independance Day
      </a>
      <span class="text-muted fw-bold d-block">Due in 5 Days</span>
    </div>
    <!-- end::Description -->
    <a href="" class="btn btn-sm btn-icon btn-light-primary w-30px h-30px">
      <span class="ki-duotone ki-black-right-line"><span class="path1"></span><span class="path2"></span></span>
    </a>
  </div>
  <!-- end:Item -->
  <!-- begin::Item -->
  <div class="d-flex align-items-center mb-8">
    <div class="text-gray-600 text-hover-primary min-width fw-bold fs-6 me-4">
      19th aug
    </div>
    <!-- begin::Bullet -->
    <span class="bullet bullet-vertical h-40px bg-primary"></span>
    <!-- end::Bullet -->
    <!-- begin::Description -->
    <div class="flex-grow-1 ms-6">
      <a href="#" class="text-gray-800 text-hover-primary fw-bolder fs-6">
        Rakshabandhan
      </a>
      <span class="text-muted fw-bold d-block">Due in 2 Days</span>
    </div>
    <!-- end::Description -->
    <a href="" class="btn btn-sm btn-icon btn-light-primary w-30px h-30px">
      <span class="ki-duotone ki-black-right-line"><span class="path1"></span><span class="path2"></span></span>
    </a>
  </div>
  <!-- end:Item -->
  <!-- begin::Item -->
  <div class="d-flex align-items-center mb-8">
    <div class="text-gray-600 text-hover-primary min-width fw-bold fs-6 me-4">
      31st oct
    </div>
    <!-- begin::Bullet -->
    <span class="bullet bullet-vertical h-40px bg-danger"></span>
    <!-- end::Bullet -->
    <!-- begin::Description -->
    <div class="flex-grow-1 ms-6">
      <a href="#" class="text-gray-800 text-hover-primary fw-bolder fs-6">
        Diwali
      </a>
      <span class="text-muted fw-bold d-block">Due in 12 Days</span>
    </div>
    <!-- end::Description -->
    <a href="" class="btn btn-sm btn-icon btn-light-primary w-30px h-30px">
      <span class="ki-duotone ki-black-right-line"><span class="path1"></span><span class="path2"></span></span>
    </a>
  </div>
  <!-- end:Item -->
  <!-- begin::Item -->
  <div class="d-flex align-items-center mb-8">
    <div class="text-gray-600 text-hover-primary min-width fw-bold fs-6 me-4">
      25th dec
    </div>
    <!-- begin::Bullet -->
    <span class="bullet bullet-vertical h-40px bg-success"></span>
    <!-- end::Bullet -->
    <!-- begin::Description -->
    <div class="flex-grow-1 ms-6">
      <a href="#" class="text-gray-800 text-hover-primary fw-bolder fs-6">
        Christmas
      </a>
      <span class="text-muted fw-bold d-block">Due in 1 week</span>
    </div>
    <!-- end::Description -->
    <a href="" class="btn btn-sm btn-icon btn-light-primary w-30px h-30px">
      <span class="ki-duotone ki-black-right-line"><span class="path1"></span><span class="path2"></span></span>
    </a>
  </div>
  <!-- end:Item -->
     <!-- begin::Item -->
  <div class="d-flex align-items-center mb-8">
    <div class="text-gray-600 text-hover-primary min-width fw-bold fs-6 me-4">
      31st dec
    </div>
    <!-- begin::Bullet -->
    <span class="bullet bullet-vertical h-40px bg-success"></span>
    <!-- end::Bullet -->
    <!-- begin::Description -->
    <div class="flex-grow-1 ms-6">
      <a href="#" class="text-gray-800 text-hover-primary fw-bolder fs-6">
        New Year
      </a>
      <span class="text-muted fw-bold d-block">Due in 1 week</span>
    </div>
    <!-- end::Description -->
    <a href="" class="btn btn-sm btn-icon btn-light-primary w-30px h-30px">
      <span class="ki-duotone ki-black-right-line"><span class="path1"></span><span class="path2"></span></span>
    </a>
  </div>


</div>
<!-- end::Body -->
