<!-- begin::Header-->

<div class="card-header  pt-5">
  <h3 class="card-title align-items-start flex-column">
    <span class="card-label fw-bolder text-gray-900">Employee Directory</span>
    <!-- <span class="text-muted mt-1 fw-bold fs-7">Latest tech trends</span> -->
  </h3>
  <div
  class="card-toolbar"
  data-bs-toggle="tooltip"
  data-bs-placement="top"
  data-bs-trigger="hover"
  title="Click to add a new member"
>
  <a href="#" class="btn btn-sm btn-light-primary">
    <span
      [inlineSVG]="'./assets/media/icons/duotune/arrows/arr075.svg'"
      class="svg-icon svg-icon-3"
    ></span>
    New Member
  </a>
</div>
</div>
<!-- end::Header-->
<div class="container mt-3 mb-3">
  <div class="search-bar">
    <i class="bi bi-search search-icon"></i>
    <input type="text" class="form-control" placeholder="Search by username or email...">
  </div>
</div>
<!-- begin::Body-->
<div class="scroll h-400px px-5">
<div class="card-body pt-5">
  <!-- begin::Item-->
  <div class="d-flex align-items-sm-center mb-7">
    <!-- begin::Symbol-->
    <div  class="symbol me-5 symbol-35px symbol-circle"><span  class="symbol-label bg-light-danger text-danger fs-6 fw-bolder"> M </span></div>
    <!-- end::Symbol-->
    <!-- begin::Section-->
    <div class="d-flex align-items-center flex-row-fluid flex-wrap">
      <div class="flex-grow-1 me-2">
        <a href="#" class="text-gray-800 text-hover-primary fs-6 fw-bolder">
          Top Authors
        </a>
        <span class="text-muted fw-bold d-block fs-7"
          >Mark, Rowling, Esther</span
        >
      </div>
      <a href="" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-30px h-30px">
        <span class="ki-duotone ki-black-right-line"><span class="path1"></span><span class="path2"></span></span>
      </a>
    </div>
    <!-- end::Section-->
  </div>
  <!-- end::Item-->
     <!-- begin::Item-->
  <div class="d-flex align-items-sm-center mb-7">
    <!-- begin::Symbol-->
    <div  class="symbol me-5 symbol-35px symbol-circle"><span  class="symbol-label bg-light-danger text-danger fs-6 fw-bolder"> M </span></div>
    <!-- end::Symbol-->
    <!-- begin::Section-->
    <div class="d-flex align-items-center flex-row-fluid flex-wrap">
      <div class="flex-grow-1 me-2">
        <a href="#" class="text-gray-800 text-hover-primary fs-6 fw-bolder">
          Top Authors
        </a>
        <span class="text-muted fw-bold d-block fs-7"
          >Mark, Rowling, Esther</span
        >
      </div>
      
        <a href="" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-30px h-30px">
        <span class="ki-duotone ki-black-right-line"><span class="path1"></span><span class="path2"></span></span>
      </a>
    
    </div>
    <!-- end::Section-->
  </div>
  <!-- end::Item-->
     <!-- begin::Item-->
  <div class="d-flex align-items-sm-center mb-7">
    <!-- begin::Symbol-->
    <div  class="symbol me-5 symbol-35px symbol-circle"><span  class="symbol-label bg-light-danger text-danger fs-6 fw-bolder"> M </span></div>
    <!-- end::Symbol-->
    <!-- begin::Section-->
    <div class="d-flex align-items-center flex-row-fluid flex-wrap">
      <div class="flex-grow-1 me-2">
        <a href="#" class="text-gray-800 text-hover-primary fs-6 fw-bolder">
          Top Authors
        </a>
        <span class="text-muted fw-bold d-block fs-7"
          >Mark, Rowling, Esther</span
        >
      </div>
      <a href="" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-30px h-30px">
        <span class="ki-duotone ki-black-right-line"><span class="path1"></span><span class="path2"></span></span>
      </a>
    </div>
    <!-- end::Section-->
  </div>
  <!-- end::Item-->
     <!-- begin::Item-->
  <div class="d-flex align-items-sm-center mb-7">
    <!-- begin::Symbol-->
    <div  class="symbol me-5 symbol-35px symbol-circle"><span  class="symbol-label bg-light-danger text-danger fs-6 fw-bolder"> M </span></div>
    <!-- end::Symbol-->
    <!-- begin::Section-->
    <div class="d-flex align-items-center flex-row-fluid flex-wrap">
      <div class="flex-grow-1 me-2">
        <a href="#" class="text-gray-800 text-hover-primary fs-6 fw-bolder">
          Top Authors
        </a>
        <span class="text-muted fw-bold d-block fs-7"
          >Mark, Rowling, Esther</span
        >
      </div>
      <a href="" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-30px h-30px">
        <span class="ki-duotone ki-black-right-line"><span class="path1"></span><span class="path2"></span></span>
      </a>
    </div>
    <!-- end::Section-->
  </div>
  <!-- end::Item-->
     <!-- begin::Item-->
  <div class="d-flex align-items-sm-center mb-7">
    <!-- begin::Symbol-->
    <div  class="symbol me-5 symbol-35px symbol-circle"><span  class="symbol-label bg-light-danger text-danger fs-6 fw-bolder"> M </span></div>
    <!-- end::Symbol-->
    <!-- begin::Section-->
    <div class="d-flex align-items-center flex-row-fluid flex-wrap">
      <div class="flex-grow-1 me-2">
        <a href="#" class="text-gray-800 text-hover-primary fs-6 fw-bolder">
          Top Authors
        </a>
        <span class="text-muted fw-bold d-block fs-7"
          >Mark, Rowling, Esther</span
        >
      </div>
      <a href="" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-30px h-30px">
        <span class="ki-duotone ki-black-right-line"><span class="path1"></span><span class="path2"></span></span>
      </a>
    </div>
    <!-- end::Section-->
  </div>
  <!-- end::Item-->
  <!-- begin::Item-->
  <div class="d-flex align-items-sm-center mb-7">
    <!-- begin::Symbol-->
    <div  class="symbol me-5 symbol-35px symbol-circle"><span  class="symbol-label bg-light-danger text-danger fs-6 fw-bolder"> M </span></div>
    <!-- end::Symbol-->
    <!-- begin::Section-->
    <div class="d-flex align-items-center flex-row-fluid flex-wrap">
      <div class="flex-grow-1 me-2">
        <a href="#" class="text-gray-800 text-hover-primary fs-6 fw-bolder">
          Popular Authors
        </a>
        <span class="text-muted fw-bold d-block fs-7">Randy, Steve, Mike</span>
      </div>
      <a href="" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-30px h-30px">
        <span class="ki-duotone ki-black-right-line"><span class="path1"></span><span class="path2"></span></span>
      </a>
    </div>
    <!-- end::Section-->
  </div>
  <!-- end::Item-->
  <!-- begin::Item-->
  <div class="d-flex align-items-sm-center mb-7">
    <!-- begin::Symbol-->
    <div  class="symbol me-5 symbol-35px symbol-circle"><span  class="symbol-label bg-light-danger text-danger fs-6 fw-bolder"> P </span></div>
    <!-- end::Symbol-->
    <!-- begin::Section-->
    <div class="d-flex align-items-center flex-row-fluid flex-wrap">
      <div class="flex-grow-1 me-2">
        <a href="#" class="text-gray-800 text-hover-primary fs-6 fw-bolder">
          New Users
        </a>
        <span class="text-muted fw-bold d-block fs-7">John, Pat, Jimmy</span>
      </div>
      <a href="" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-30px h-30px">
        <span class="ki-duotone ki-black-right-line"><span class="path1"></span><span class="path2"></span></span>
      </a>
    </div>
    <!-- end::Section-->
  </div>
  <!-- end::Item-->
  <!-- begin::Item-->
  <div class="d-flex align-items-sm-center mb-7">
    <!-- begin::Symbol-->
    <div  class="symbol me-5 symbol-35px symbol-circle"><span  class="symbol-label bg-light-danger text-danger fs-6 fw-bolder"> A </span></div>
    <!-- end::Symbol-->
    <!-- begin::Section-->
    <div class="d-flex align-items-center flex-row-fluid flex-wrap">
      <div class="flex-grow-1 me-2">
        <a href="#" class="text-gray-800 text-hover-primary fs-6 fw-bolder">
          Active Customers
        </a>
        <span class="text-muted fw-bold d-block fs-7"
          >Mark, Rowling, Esther</span
        >
      </div>
      <a href="" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-30px h-30px">
        <span class="ki-duotone ki-black-right-line"><span class="path1"></span><span class="path2"></span></span>
      </a>
    </div>
    <!-- end::Section-->
  </div>
  <!-- end::Item-->

  <ng-container *ngIf="items > 4">
    <div class="d-flex align-items-sm-center mb-7">
      <!-- begin::Symbol-->
      <div  class="symbol me-5 symbol-35px symbol-circle"><span  class="symbol-label bg-light-danger text-danger fs-6 fw-bolder"> S </span></div>
      <!-- end::Symbol-->
      <!-- begin::Section-->
      <div class="d-flex align-items-center flex-row-fluid flex-wrap">
        <div class="flex-grow-1 me-2">
          <a href="#" class="text-gray-800 text-hover-primary fs-6 fw-bolder">
            Bestseller Theme
          </a>
          <span class="text-muted fw-bold d-block fs-7"
            >Disco, Retro, Sports</span
          >
        </div>
        <a href="" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-30px h-30px">
          <span class="ki-duotone ki-black-right-line"><span class="path1"></span><span class="path2"></span></span>
        </a>
      </div>
      <!-- end::Section-->
    </div>
  </ng-container>

  <ng-container *ngIf="items > 5">
    <div class="d-flex align-items-sm-center">
      <!-- begin::Symbol-->
      <div  class="symbol me-5 symbol-35px symbol-circle"><span  class="symbol-label bg-light-danger text-danger fs-6 fw-bolder"> V </span></div>
      <!-- end::Symbol-->
      <!-- begin::Section-->
      <div class="d-flex align-items-center flex-row-fluid flex-wrap">
        <div class="flex-grow-1 me-2">
          <a href="#" class="text-gray-800 text-hover-primary fs-6 fw-bolder">
            Fox Broker App
          </a>
          <span class="text-muted fw-bold d-block fs-7"
            >Finance, Corporate, Apps</span
          >
        </div>
        <a href="" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-30px h-30px">
          <span class="ki-duotone ki-black-right-line"><span class="path1"></span><span class="path2"></span></span>
        </a>
      </div>
      <!-- end::Section-->
    </div>
  </ng-container>
</div>
<!-- end::Body-->


</div>